@import-normalize;

head{
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

body{
  background-image: url(./components/images/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  position: relative;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}

